.marquee_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marquee_box p {
  display: inline-block;
  transition-timing-function: linear;
}

.marquee_box:hover p {
  animation-play-state: paused;
  cursor: default;
}
